html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100 - 0.01px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main>section:first-child {
    background-color: #f5f5f5;
}

#above-bar, #below-bar {
    width: 100%;
    height: calc((100% - 3rem - 2px) / 2);
    display: flex;
    flex-direction: column;
}

#above-bar {
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 2rem;
}

#header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: right;
}

.grower-separator {
    width: 100%;
    flex-grow: 1;
}

#search-page #logo {
    width: 10rem;
    aspect-ratio: 1 / 1;
}

#search-page h1 {
    font-size: 4rem;
    font-weight: normal;
    margin: 0;
}

h1~p {
    margin: 0;
    font-size: 1.2rem;
    color: #444;
}

#below-bar {
    justify-content: flex-start;
    align-items: center;
    padding-top: 2rem;
}

#buttons {
    display: flex;
    flex-direction: row;
}

#buttons>button {
    all: unset;
    background-color: #eaeaea;
    border-radius: .3rem;
    padding: .5rem 1rem;
    margin: 0 .5rem;
    cursor: pointer;
    border: 2px solid #eaeaea;
}

#buttons>button:hover {
    transition: border-color .2s;
    border: 2px solid #ccc;
}

/* Bottom stats */

#search-page #stats {
    height: 2rem;
    width: 100%;
    background-color: #e5e5e5;
    color: #444;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

#search-page #stats>div {
    margin: 0 1rem;
}

/* Github link */

#github-link {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 0 .7rem;
}

#github-link>img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .2rem;
}

/* Connection status */

#connection-status {
    padding: 0 .7rem;
    font-size: .9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#connection-status-indicator {
    height: .8rem;
    width: .8rem;
    margin-left: .3rem;
    margin-top: .1rem;    
}

#connection-status-indicator.spinner {
    border-width: 3px;
    border-color: #ddd;
    border-left-color: #f1c40f;
}

#connection-status-indicator.connected, #connection-status-indicator.error {
    height: 1.2rem;
    width: 1.2rem;
    margin-top: -.2rem;
}

#connection-status-indicator.error .checkmark__circle {
    stroke: #e74c3c;
}
#connection-status-indicator.error .checkmark {
    box-shadow: inset 0px 0px 0px #e74c3c;
    animation: fill-error .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}

.wrapper {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #eee
}

.checkmark__circle {
	stroke-dasharray: 166;
	stroke-dashoffset: 166;
	stroke-width: 5;
	stroke-miterlimit: 10;
	stroke: #2ecc71;
	fill: none;
	animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}

.checkmark {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	display: block;
	stroke-width: 5;
	stroke: #fff;
	stroke-miterlimit: 10;
	margin: 10% auto;
	box-shadow: inset 0px 0px 0px #2ecc71;
	animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}

.checkmark__check {
	transform-origin: 50% 50%;
	stroke-dasharray: 48;
	stroke-dashoffset: 48;
	animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}

@keyframes stroke {
	100% {
		stroke-dashoffset: 0
	}
}

@keyframes scale {
    0%, 100% {
		transform: none
	}

	50% {
		transform: scale3d(1.1, 1.1, 1)
	}
}

@keyframes fill {
	100% {
		box-shadow: inset 0px 0px 0px 30px #2ecc71
	}
}

@keyframes fill-error {
	100% {
		box-shadow: inset 0px 0px 0px 30px #e74c3c
	}
}

