#results-page {
    background-color: #f5f5f5;
    width: 100%;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100 - 0.01px);
}

#results-header {
    border-bottom: 1px solid #ccc;
}

#first-header-row {
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#first-header-row>h1 {
    width: 10rem;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: normal;
    text-align: right;
    flex-shrink: 0;
    margin: 0;
}

#first-header-row>img {
    cursor: pointer;
    width: 3.3rem;
    margin: .35rem 2rem .35rem .7rem;
    aspect-ratio: 1 / 1;
}

#result-selectors {
    padding-left: 16rem;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#result-selectors>div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-right: 1.5rem;
    padding-bottom: .3rem;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

#result-selectors>div>img {
    height: 1.3rem;
    width: 1.3rem;
    stroke-width: 1.7px;
    margin-right: 3px;
}

#result-selectors>div.selected {
    font-weight: bold;
    border-bottom: 2px solid black;
}

#result-selectors>div.selected>svg {
    stroke-width: 2px;
}

/* Result counter */

#result-counter {
    color: #666;
    font-size: .95rem;
    margin: .8rem 0;
}

/* Individual result */

#result-list {
    margin-left: 16rem;
}

/* Search error messsages */

.search-error {
    margin: 3rem 0;
}

.search-error>h3 {
    margin: 0 0 .5rem 0;
    font-size: 1.5rem;
    font-weight: normal;
}

.search-error>ul {
    margin: 0;
}

.search-error>ul>li>a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.search-error>h4 {
    margin: 2rem 0 0 0;
    font-size: 1rem;
    font-weight: normal;
}

.search-error>p {
    margin: 0;
    font-size: .9rem;
    color: #666;
}

/* Mobile view */

@media all and (max-width: 800px) {
    #results-page #search-bar {
        position: absolute;
        top: 4rem;
        left: 1rem;
        width: calc(100% - 2rem);
    }

    #results-page #first-header-row {
        padding: 0 1rem 4rem 1rem;
    }

    #results-page #first-header-row>h1 {
        width: unset;
    }

    #results-page #connection-status {
        order: 1;
    }

    #results-page #settings-button {
        order: 2;
    }

    #result-selectors {
        padding-left: 1rem;
    }

    #result-list {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .result {
        width: 100%;
        overflow: auto;
    }
}
