#indexing-status {
    box-sizing: border-box;
    width: 100%;
    padding: 2rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#indexing-status-message {
    margin: 0 0 .25rem 0;
}

#indexing-status-progress {
    width: min(100%, 20rem);
    height: 1rem;
    border-radius: .5rem;
    overflow: hidden;
    background-color: #eaeaea;
    /* border: 2px solid #ccc; */
    border: 2px solid #2ecc71;
}

#indexing-status-inner {
    background-color: #2ecc71;
    height: 100%;
    transition: width 1s linear;
}
