html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100 - 0.01px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main>section:first-child {
    background-color: #f5f5f5;
}

#above-bar, #below-bar {
    width: 100%;
    height: calc((100% - 3rem - 2px) / 2);
    display: flex;
    flex-direction: column;
}

#above-bar {
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 2rem;
}

#header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: right;
}

.grower-separator {
    width: 100%;
    flex-grow: 1;
}

#search-page #logo {
    width: 10rem;
    aspect-ratio: 1 / 1;
}

#search-page h1 {
    font-size: 4rem;
    font-weight: normal;
    margin: 0;
}

h1~p {
    margin: 0;
    font-size: 1.2rem;
    color: #444;
}

#below-bar {
    justify-content: flex-start;
    align-items: center;
}

#buttons {
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
}

#buttons>* {
    all: unset;
    background-color: #eaeaea;
    border-radius: .3rem;
    padding: .5rem 1rem;
    margin: 0 .5rem;
    cursor: pointer;
    border: 2px solid #eaeaea;
}

#buttons>*:hover {
    transition: border-color .2s;
    border: 2px solid #ccc;
}

/* Bottom stats */

#search-page #stats {
    height: 2rem;
    width: 100%;
    background-color: #e5e5e5;
    color: #444;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

#search-page #stats>div {
    margin: 0 1rem;
}

/* Github link */

#header-link {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    padding: 0 .7rem;
}

#header-link>img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .2rem;
    margin-top: -.1rem;
}

.bold {
    font-weight: bold;
}
