#connection-status {
    padding: 0 .7rem;
    font-size: .9rem;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#connection-status-indicator {
    height: .8rem;
    width: .8rem;
    margin-left: .3rem;
    margin-top: .1rem;    
}

#connection-status-indicator.spinner {
    border-width: 3px;
    border-color: #ddd;
    border-left-color: #f1c40f;
}

#connection-status-indicator.connected, #connection-status-indicator.error {
    height: 1.2rem;
    width: 1.2rem;
    margin-top: -.2rem;
}

#connection-status-indicator.error .checkmark__circle {
    stroke: #e74c3c;
}
#connection-status-indicator.error .checkmark {
    box-shadow: inset 0px 0px 0px #e74c3c;
    animation: fill-error .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 5;
    stroke-miterlimit: 10;
    stroke: #2ecc71;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}

.checkmark {
    min-width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    stroke-width: 5;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #2ecc71;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0
    }
}

@keyframes scale {
    0%, 100% {
        transform: none
    }

    50% {
        transform: scale3d(1.1, 1.1, 1)
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #2ecc71
    }
}

@keyframes fill-error {
    100% {
        box-shadow: inset 0px 0px 0px 30px #e74c3c
    }
}
