<div id="connection-status">
    <div>{{target}}</div>
    <div present-if={{connected}} id="connection-status-indicator" class="connected">
        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
        </svg>
    </div>
    <div present-if={{connecting}} id="connection-status-indicator" class="spinner"></div>
    <div present-if={{error}} id="connection-status-indicator" class="error">
        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <circle class="checkmark__circle" cx="26" cy="26" r="25"/>
            <line class="checkmark__check" x1="15" y1="15" x2="37" y2="37"/>
            <line class="checkmark__check" x1="15" y1="37" x2="37" y2="15"/>
        </svg>
    </div>
</div>